<div class="card--recette">
  <article class="card--recette__head">
    <span
      title="Favoris !"
      class="card--recette__head--badgeFavoris"
      (click)="emitToggleFavoris()"
      ><i
        class="bi {{
          !recette.getFavoris() ? 'bi-suit-heart' : 'bi-suit-heart-fill'
        }}"
      ></i>
    </span>
    <em>
      {{ recette.getNom() }}
    </em>
    <figure>
      <a *ngIf="!isComplete; else elseBlock" [routerLink]="recette.getId()">
        <img src="{{ recette.getImageUrl() }}" />
      </a>
      <ng-template #elseBlock>
        <img src="{{ recette.getImageUrl() }}" />
      </ng-template>
    </figure>
  </article>

  <article *ngIf="isComplete" class="card--recette__body">
    <span
      >Difficulté : {{ recette.getIndicateurs().difficulte }}/{{
        recette.difficulteMax
      }}</span
    >

    <em>Etapes</em>
    <div *ngIf="recette.getEtapes().length === 0">Pas d'étapes...</div>
    <div *ngFor="let etape of recette.getEtapes(); let index = index">
      <dt>{{ index + 1 }} | {{ etape.obligatoire }}</dt>
      <dd>{{ etape.description }}</dd>
    </div>

    <em>Ingrédients</em>
    <ul class="uk-list uk-list-large uk-list-divider">
      <div *ngIf="recette.getEtapes().length === 0">Pas d'ingrédients...</div>
      <li *ngFor="let ingredient of recette.getIngredients()">
        {{ ingredient.nom }}
      </li>
    </ul>

    <em>Indicateurs</em>
    <ul class="uk-list uk-list-large uk-list-divider">
      <div *ngIf="recette.getEtapes().length === 0">Pas d'indicateurs...</div>
      <li>Difficulte {{ recette.getIndicateurs().difficulte }}</li>
      <li>Preparation {{ recette.getIndicateurs().temps_preparation }}</li>
      <li>Temps de vaisselle {{ recette.getIndicateurs().temps_vaisselle }}</li>
      <li>
        Nombre de personnes {{ recette.getIndicateurs().nombre_personnes }}
      </li>
      <li>Cout {{ recette.getIndicateurs().cout }}</li>
    </ul>

    Favori : {{ recette.getFavoris() }}
  </article>
</div>
